# =========================
# Coisas do Windows
# =========================

# Windows caches
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

# Visual Studio Code
.vscode/
bin/